.checkoutForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 28rem;
  box-shadow: 1px 1px 10px gray;
  padding: 1rem;
  margin: 1rem auto;
}

.checkoutForm input {
  width: 10rem;
  width: 100%;
  background-color: transparent;
  color: black;
  padding: 10px;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  outline: none;
  /* border-radius: 10px; */
}

.checkout_bun-div {
  margin-top: 20px;
}

/* user_profile */
.user_profile-profileInfo {
  position: relative;

  box-shadow: 1px 1px 10px gray;
  padding: 1rem;
  min-height: 10rem;
  width: 19rem;
  /* min-width: 15rem; */
  margin: 0 1rem;
  display: block;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_profile-profileInfo-img {
  font-size: 10rem;
  border: 1px solid black;
  margin-bottom: 5px;
}

.user_profile-profileInfo-edit_button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px !important;
  width: 60px !important;
  font-size: 30px;
  color: gray;

  display: flex;
  justify-content: center;
  align-items: center;
}

.user_profile-profileInfo-editIcon svg {
  font-size: 5px;
  /* color: gray; */
}

.user_profile-firstrow-loading {
  height: 50px;
  width: 50px;
}

.user_orders-each_time_order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--primary-color);
}


.user_orders-card {
    box-shadow: 1px 1px 10px gray;
    color: black;
    border-radius: 20px;
    overflow: hidden;
}

.user_orders-each_time_order-info {
    box-shadow: 1px 1px 10px gray;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
}

.user_orders-each_time_order-info p {
    line-height: 12px;
}


.contact_form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    width: 40rem;
  }
  
  .contact_form form input {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  
  .contact_form form textarea {
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 10px;
  }