.checkoutForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 28rem;
    box-shadow: 1px 1px 10px gray;
    padding: 1rem;
    margin: 1rem auto;

}

.checkoutForm input {
    width: 10rem;
    width: 100%;
    background-color: transparent;
    color: black;
    padding: 10px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    outline: none;
    /* border-radius: 10px; */
}

.checkout_bun-div {
    margin-top: 20px;
}